@import '../../styles/colors.scss';

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .home-container-list-pokemon {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 4rem;
      .home-list-pokemons {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
      }
    }
    .error {
      margin-top: 3rem;
    }
}


@media (max-width: 1380px) {
  .home-container {
    main {
      .home-list-pokemons {
        justify-content: center;
      }
    }
  }
}

