@import '../../styles/colors.scss';

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 4rem;
    }

    .listPokemons {
      display: flex;
      flex-wrap: wrap;
      gap: 3rem;
    }

    .error {
      margin-top: 3rem;
    }
}


@media (max-width: 1380px) {
  .homeContainer {
    main {
      .listPokemons {
        justify-content: center;
      }
    }
  }
}

