@import '../../styles/colors.scss';

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem;

  .name{
    font-weight: bold;
  }

  .icons{
    display: flex;
    gap: 15px;
  }
  .linkIcon{
  background-color: $color-third;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }

  .icon{
    background-color: transparent;
    color: white;
    font-size: 1.3rem;
  }
}
