@import '../../../../styles/colors.scss';

.card-data-pokemon {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .card-data-pokemon-icons {
    width: 100%;
    display: flex;
    justify-content: end;

    button {
      width: 30px;
      background-color: transparent;
      border: none;
    }

    .card-data-pokemon-icon-favorite{
      background-color: transparent;
      font-size: 25px;
      cursor: pointer;
      &:hover{
        color: $color-third;
      }
    }
    
    .card-data-pokemon-icon-favorite-red{
      background-color: transparent;
      font-size: 25px;
      cursor: pointer;
      color: $color-third;
      transition: 0.5s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }

  img {
    width: 200px;
    margin: auto auto;
  }

  .card-data-pokemon-id-pokemon {
    font-size: 20px;
    color: $color-light-gray;
    text-align: center;
    font-weight: bolder;
  }

  .card-data-pokemon-name-pokemon {
    font-weight: bold;
    text-align: center;
  }

  .card-data-pokemon-types-pokemon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  h5 {
    font-weight: bold;
    text-align: center;
  }

  .card-data-pokemon-description {
    margin-top: 20px;
    width: 100%;

    p {
      text-align: center;
    }
  }

  .card-data-pokemon-ability {
    margin-top: 15px;
    div {
      margin-top: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        background-color: $color-primary;
        box-shadow: 2px 2px 10px $box-shadow;
        height: 40px;
        border-radius: 40px;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

  .card-data-pokemon-body {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;

      .card-data-pokemon-body-title {
        font-weight: bolder;
        font-size: 1.25rem;
      }

      .card-data-pokemon-body-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        background-color: $color-primary;
        box-shadow: 2px 2px 10px $box-shadow;
        height: 40px;
        border-radius: 40px;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

  .card-data-pokemon-exp {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 6px;

      .card-data-pokemon-exp-title {
        font-weight: bolder;
        font-size: 1.25rem;
      }

      .card-data-pokemon-exp-content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        background-color: $color-primary;
        box-shadow: 2px 2px 10px $box-shadow;
        height: 40px;
        border-radius: 40px;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }

  .card-data-pokemon-stars {
    margin-top: 20px;

    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      div.card-data-pokemon-star {
        width: 32px;
        height: 60px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-primary;

        .card-data-pokemon-star {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
          height: 28px;
          border-radius: 100%;
          color: white;
          font-weight: bolder;
          font-size: 0.9rem
        }
      }
    }
  }
}

.hp {
  background-color: $color-hp;
}
.atk {
  background-color: $color-atk;
}
.def {
  background-color: $color-def;
}
.spa {
  background-color: $color-spa;
}
.spo {
  background-color: $color-spo;
}
.spd {
  background-color: $color-spd;
}
