@import '../../../../styles/colors.scss';


.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1{
    color: $color-third;
    margin-bottom: 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 6px;
  }
  .pagination-pages {
    background-color: transparent;
  }
  
  .pagination-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: $color-third;
    border: none;
    box-shadow: 3px 4px 13px #fd4f55be;
    color: white;
  }
}
