@import '../../styles/colors.scss';

.signup-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .signup-form-container{
    width: 600px;
    padding: 50px;
    margin:0 auto;
    border-radius: 6px;
    box-shadow:$box-shadow 0px 12px 28px 0px, $box-shadow 0px 2px 4px 0px, $box-shadow 0px 0px 0px 1px inset;

    .signup-imagens{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .signup-img-logo{
        width: 150px;
        cursor: pointer;
      }

      .signup-img-pokemon{
        width: 150px;
      }
    }

    form {
      padding: 10px;
      .button{
        display: block;
        margin: 30px auto 10px auto;
      }
    }
  }
}
