@import '../../styles/colors.scss';

main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container{
    width: 600px;
    padding: 50px;
    margin:0 auto;
    border-radius: 6px;
    box-shadow:$box-shadow 0px 12px 28px 0px, $box-shadow 0px 2px 4px 0px, $box-shadow 0px 0px 0px 1px inset;

    .imagens{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .imgLogo{
        width: 150px;
        cursor: pointer;
      }

      .imgPokemon{
        width: 150px;
      }
    }

    form {
      padding: 10px;
      .button{
        display: block;
        background: $color-third;
        border-radius: 50px;
        box-shadow: $color-third 0 10px 20px -10px;
        color: #FFFFFF;
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        padding: 8px 18px;
        border: none;
        margin: 30px auto 10px auto;
        border: 1px solid transparent;
        transition: 0.3s ease;
        &:hover{
            background-color: transparent;
            color: $color-third;
            border-color: $color-third;
        }
      }
    }
  }
}
