@import '../../styles/colors.scss';

.favorite-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  .favorite-container-logo {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 300px;
      cursor: pointer;
    }
  }

  .home-list-pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;

    .favorite-text{
      text-align: center;
      font-size: 30px;
      font-weight: bolder;
    }
  }
}
