@import './colors.scss';

.br-electric{
    color: $pokemon-text-electric;
    border: 2px solid $pokemon-electric;
}
.br-grass{
    color: $pokemon-text-grass;
    border: 2px solid $pokemon-grass;
}
.br-poison{
    color: $pokemon-text-poison;
    border: 2px solid $pokemon-poison;
}
.br-fire{
    color: $pokemon-text-fire;
    border: 2px solid $pokemon-fire;
}

.br-water{
    color:$pokemon-text-water;
    border: 2px solid $pokemon-water;
}
.br-bug{
    color:$pokemon-text-bug;
    border: 2px solid $pokemon-bug;
}
.br-ghost{
    color:$pokemon-text-ghost;
    border: 2px solid $pokemon-ghost;
}
.br-fairy{
    color:$pokemon-text-fairy;
    border: 2px solid $pokemon-fairy;
}
.br-psychic{
    color:$pokemon-text-psychic;
    border: 2px solid $pokemon-psychic;
}
.br-fighting{
    color:$pokemon-text-fighting;
    border: 2px solid $pokemon-fighting;
}
.br-steel{
    color:$pokemon-text-steel;
    border: 2px solid $pokemon-steel;
}
.br-normal{
    color:$pokemon-text-normal;
    border: 2px solid $pokemon-normal;
}
.br-ice{
    color:$pokemon-text-ice;
    border: 2px solid $pokemon-ice;
}

.br-flying{
  color: black;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    inset:0;
    background: linear-gradient(to bottom, $pokemon-ice 50%, $pokemon-steel 50%);
    z-index: -1;
    margin: -3px;
    border-radius: 40px;
  }
}

.br-dragon{
    color:black;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      inset:0;
      background: linear-gradient(to bottom, $pokemon-ice 50%, $pokemon-fighting 50%);
      z-index: -1;
      margin: -3px;
      border-radius: 40px;
    }
}
.br-ground{
    color:$pokemon-text-ground;
    border: 2px solid $pokemon-ground;
}
.br-rock{
    color:$pokemon-text-rock;
    border: 2px solid $pokemon-rock;
}
.br-dark{
    color:$pokemon-text-dark;
    border: 2px solid $pokemon-dark;
}
