@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: $color-primary;
}

.bg-danger{
  background-color: $color-third;
}
.bg-success{
  background-color: #198754;
}

.button {
  background: $color-third;
  border-radius: 50px;
  box-shadow: $color-third 0 10px 20px -10px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 18px;
  border: 1px solid transparent;
  transition: 0.3s ease;
  &:hover{
      background-color: transparent;
      color: $color-third;
      border-color: $color-third;
  }
}
.button:disabled,
.button.disabled{
  color:#fff;
  background-color: transparent;
  color: #fd4f5597;
  border-color: #fd4f5597;
  cursor: no-drop;
}

::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: $color-primary;
}
::-webkit-scrollbar-thumb{
  background: $color-third;
  border-radius: 40px;
}
