
$color-principal: #F7F8FC;
$color-secondary: #7D7D7D;
$color-third: #fd4f55;
$box-shadow: #d9dbdfa6;


$pokemon-grass:#A8EB84;
$pokemon-ground: #FFCC85;
$pokemon-fire: #FF984F;
$pokemon-fighting: #E36E68;
$pokemon-water: #A6BCF2;
$pokemon-ice: #83DDFF;
$pokemon-psychic: #F490A3;
$pokemon-electric: #FFDC53;
$pokemon-ghost: #A715EB;
$pokemon-fairy: #E770EB;
$pokemon-bug:#AEEB00;
$pokemon-stell: #9EB7B8;
$pokemon-dark:#707070;
$pokemon-poison: #B501F0;
$pokemon-rock: #A38C21;
$pokemon-normal: #A4ACAF;




