@import '../../styles/colors.scss';

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  .search {
    background-color: #ffffff;
    height: 50px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 10px $box-shadow;
  
    .input {
      background-color: #ffffff;
      border: none;
      border-radius: 10px;
      padding: 10px;
      width: 90%;
      &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
      }
      &::placeholder {
        color: #A9B0B8;
      }
    }
    .btn {
      border: none;
      border-radius: 7px;
    }

    .iconPokemon {
      background-color: $color-third;
      color: #ffffff;
      font-size: 2.3rem;
      padding: 2px;
      border-radius: 7px;
      box-shadow: 3px 3px 20px rgb(253 79 85 / 48%);
    }
  }

  .navigate {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

@media (max-width: 991px) {
  .homeContainer {
    .header{
      flex-direction: column;
      gap: 2rem;
      .search {
        width: 90%;
      }
    }
  }
}
